{% extends "jobs/base.html" %}
{% block content %}

{%for applicant in applicants%}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'company-detail' applicant.jobPosting.company.id%}">{{ applicant.jobPosting.company }}</a>
      <a class="mr-2" href="{% url 'jobposting-detail' applicant.jobPosting.id%}">als {{ applicant.jobPosting.title }}</a>
    </div>
    <h2><a class="article-title" href="{% url 'applicant-detail' applicant.id%}">{{ applicant.name }}</a></h2>
    <p class="article-content">{{ applicant.email }}</p>
  </div>
</article>
{%endfor%}

{% endblock content %}