{% extends "jobs/base.html" %}
{% block content %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ jobposting.company }}</a>
    </div>
    <h2><a class="article-title" href="#">{{ jobposting.title }}</a></h2>
    <p class="article-content">{{ jobposting.description }}</p>
    <a class="article-content" href="{% url 'jobposting-delete' jobposting.id%}">Delete job posting</a>
  </div>
</article>


{% endblock content %}